<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sinapse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sinapse.Properties.Settings>
            <setting name="graph_Location" serializeAs="String">
                <value>600, 500</value>
            </setting>
            <setting name="main_Location" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="main_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="graph_Autoupdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="main_Size" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="graph_Launch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="graph_UpdateRate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="display_UpdateRate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="graph_Size" serializeAs="String">
                <value>517, 276</value>
            </setting>
            <setting name="main_AutoSwitchToTrainingTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="graph_Disable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="training_Autosave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="training_Crossvalidation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="training_AutosaveEpochs" serializeAs="String">
                <value>100</value>
            </setting>
        </Sinapse.Properties.Settings>
    </userSettings>
</configuration>